@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --Very_dark_blue: hsl(226, 43%, 10%);
    --Dark_blue: hsl(235, 46%, 20%);
    --Desaturated_blue: hsl(235, 45%, 61%);
    --Pale_Blue: hsl(236, 100%, 87%);
    --Blue: hsl(246, 80%, 60%);
    --Light_red_work: hsl(15, 100%, 70%);
    --Soft_blue_play: hsl(195, 74%, 62%);
    --Light_red_study: hsl(348, 100%, 68%);
    --Lime_green_exercise: hsl(145, 58%, 55%);
    --Violet_social: hsl(264, 64%, 52%);
    --Soft_orange_self_care: hsl(43, 84%, 65%);
}

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--Very_dark_blue);
    color: white;
    font-size: 18px;
    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    text-align: left;
    gap: 1rem;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.user {
    background-color: var(--Dark_blue);
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    border-radius: 15px;
}

.user_logo {
    margin: 0 0 2rem;
    display: block;
    width: 30%;
}

article {
    padding: 4rem 2rem;
    background-color: var(--Blue);
    border-radius: 15px;
    /* height: 80%; */

}

.occurances {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
}

.occurances p:hover {
    opacity: 1;
}

.texture {
    opacity: 1;
}

p {
    opacity: 0.4;
    cursor: pointer;
    margin: 10px;
}

h1 {
    color: white;
    font-weight: 300;
    font-size: 2rem;
}

#work {
    background-color: var(--Light_red_work);
    border-radius: 15px;
}

#play {
    background-color: var(--Soft_blue_play);
    border-radius: 15px;
}

#study {
    background-color: var(--Light_red_study);
    border-radius: 15px;
}

#exercise {
    background-color: var(--Lime_green_exercise);
    border-radius: 15px;
}

#social {
    background-color: var(--Violet_social);
    border-radius: 15px;
}

#self_care {
    background-color: var(--Soft_orange_self_care);
    border-radius: 15px;
}

.content {
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--Dark_blue);
}

.content:hover {
    background-color: var(--Desaturated_blue);
}

.try {
    background-color: var(--Light_red_work);
    background-image: url(./images/icon-work.svg);
}

.header {
    text-align: left;
    justify-content: space-between;
    display: flex;
    margin: 1rem 0;
    /* padding: 1rem; */
}

button {
    letter-spacing: 5px;
    font-weight: 700;
    background-color: var(--Dark_blue);
    color: white;
    border: none;
    cursor: pointer;
}

.header p {
    opacity: 11;
}

.viz {
    display: none;
}

.current span {
    font-size: 3rem;
}

small {
    color: var(--Pale_Blue);
}

.before {
    margin-top: 1rem;
}

.box {
    border-radius: 5px;
    height: 3rem;
    background-position: right;
    background-repeat: no-repeat;
}

.play_logo {
    background-color: var(--Soft_blue_play);
    background-image: url("./images/icon-play.svg");
}

.study_logo {
    background-color: var(--Light_red_study);
    background-image: url("./images/icon-study.svg");
}

.exercise_logo {
    background-color: var(--Lime_green_exercise);
    background-image: url("./images/icon-exercise.svg");
}

.social_logo {
    background-color: var(--Violet_social);
    background-image: url("./images/icon-social.svg");
}

.selfcare_logo {
    background-color: var(--Soft_orange_self_care);
    background-image: url("./images/icon-self-care.svg");
}

@media screen and (max-width:800px) {
    body {
        min-width: 375px;
    }
    main {
        margin: 1rem;
        gap: 1rem;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .user_logo {
        float: left;
        margin: 0 0;
        display: inline;
    }

    article {

        padding: 1rem;
    }

    article {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .occurances {
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        justify-content: space-between;
        display: flex;
    }

    h1 {
        font-size: 1.5rem;
    }.content {
        padding: 1rem;
    }
}